@import "../detail/detail";

.wrapper {
  display: flex;
  padding: 0;

  .date {
    font-size: @fontSizeBase;
    font-weight: bold;
    padding: 20px 0 10px;
  }
  .part {
    display: inline;
  }
  .partDay {
    .date {
      border-top: 1px solid #ececec;
      margin-top: 20px;
    }
  }

  .time {
    text-align: left;
    display: block;
    font-size: @fontSizeSm;
    color: @grey;
    padding: 6px 0 0;
  }
  .read {
    color: #fff;
    background: @red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: inline-block;
    text-align: center;
    margin-left: @gapSm;
  }

  .description {
    padding: 10px 0;
  }
  .pictureList {
    img {
      margin-bottom: 6px;
      margin-right: 6px;
      width: 80px;
      height: 80px;
      cursor: pointer;
    }
  }

  :global {
    .ant-tabs {
      height: 100%;
    }
    .ant-tabs-bar {
      border-top: 1px solid @borderColorBase;
      background: #f7f7f7;
      margin-bottom: 0;
      height: 48px;
    }

    .ant-tabs-nav {
      margin: 0 @gap;
    }

    .ant-tabs-nav .ant-tabs-tab-inner {
      font-size: @fontSizeBase;
      padding: 12px 20px;
    }

    .ant-tabs-content {
      position: absolute;
      top: 48px;
      bottom: 0;

      & > div {
        height: 100%;
      }
    }

    .ant-tabs-tabpane {
      height: 100%;
      overflow-y: auto;
    }
  }
}

.panelBody {
  composes: panel-body;
  padding: @gap;
  overflow-y: auto;
  flex: 1;
}

.dialogModal {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.75);
  text-align: center;
  z-index: 1000;
  bottom: 0;
  overflow-y: auto;
}

.dialogPicture {
  display: inline-block;
  height: 650px;
  text-align: center;
  background: #000;
  min-width: 1100px;
  margin: auto;
  margin-top: 86px;
  & > img {
    height: 540px;
    margin: 0 30px;
  }
}

.dialogClose {
  height: 60px;
  text-align: right;
  span {
    margin-right: @gapSm;
    font-size: 24px;
    cursor: pointer;
  }
  i {
    color: @grey;
  }
  i:hover {
    color: #D3D3D3;
  }
}

.dialogButton {
  margin: auto;
  width: 540px;
}

.dialogFonter {
  width: 270px;
  display: inline-block;
  cursor: pointer;
  img {
    padding-top: 15px;
  }
}
